* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

.head {
  min-height: 50vh;
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.loader {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link.active {
  color: #2c3e50 !;
}
